@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@layer base {
  body {
    @apply min-h-screen p-4 text-white bg-gradient-to-b from-gray-900 to-gray-700;
  }
}

@layer components {
  .btn {
    @apply glass-effect px-4 py-2 w-20 text-base font-medium;
  }

  .input {
    @apply glass-effect px-4 py-3 placeholder:text-white/60 focus:outline-none focus:ring-2 focus:ring-white/50;
  }

  .glass-container {
    @apply bg-white/5 backdrop-blur-md rounded-2xl border border-white/10 shadow-xl text-white flex justify-center items-center p-4 mx-auto;
  }
}

@layer utilities {
  .blur-effect {
    @apply backdrop-blur-sm rounded-xl transition-all duration-200 text-white border border-white/20;
  }

  .glass-effect {
    @apply bg-white/10 hover:bg-white/20 backdrop-blur-sm rounded-xl transition-all duration-200 border border-white/20 text-white;
  }

  .copyable {
    @apply cursor-pointer underline decoration-white/30 underline-offset-2 hover:decoration-white/60;
  }
}
